/** {
	outline: 1px solid red;
}*/

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: rgba(18, 19, 20,1)
	overflow: scroll;
	font-family: Roboto,sans-serif;
}

.container {
padding: 0;
margin: 0;
width: 100%!important;
display: block;
}

.metabar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 64px;
  padding: 10px;
  font-size: 16px;
  line-height: 44px;
  z-index: 1000;
  -webkit-transition-duration: .2s,.2s;
  transition-duration: .2s,.2s;
  -webkit-transition-property: background-color,color;
  transition-property: background-color,color;
  -webkit-transition-timing-function: ease,ease;
  transition-timing-function: ease,ease;
}

.metabar,.metabar a {
  color: rgba(0,0,0,.3);
}

.metabar a {
  text-decoration: none;
}

.metabar a:hover,.metabar a:focus {
  text-decoration: underline;
}

@media (min-width:479px) {
  .metabar--affixed {
    position: fixed;
    background-color: rgba(255,255,255,.97);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.15);
    box-shadow: 0 0 1px rgba(0,0,0,.15);
  }
}

.metabar--static.metabar--static--inversed,.metabar--static.metabar--static--inversed a,.metabar--static.metabar--static--inversed button {
  color: rgba(255,255,255,.97);
  text-shadow: 0 0px 1px rgba(0,0,0,.15);
}

.metabar--static.metabar--static--inversed {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  background: -linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.metabar__side {
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

@media (min-width:479px) {
  .metabar__side.metabar__side--left {
    float: left;
  }
}

.metabar__side.metabar__side--right {
  display: block;
  text-align: right;
}

@media (min-width:479px) {
  .metabar__side.metabar__side--right {
    display: block;
    float: right;
  }
}

.metabar-item {
  position: relative;
  display: block;
  float: left;
}

.metabar__side--left .metabar-item {
  padding: 0 16px;
}

.metabar__side--left .metabar-item:first-child {
  padding-left: 20px;
}

.metabar__side--right .metabar-item {
  padding: 0 16px;
}

.metabar__side--right .metabar-item:last-child {
  padding-right: 20px;
}

.metabar-item--drawer-button {
  width: 15%;
  height: 44px;
}

@media (min-width:479px) {
  .metabar-item--drawer-button {
    width: 54px;
  }
}

.metabar-item--post-meta {
  width: 45%;
}

.metabar-item--post-meta:before {
  background-color: rgba(0,0,0,.15);
  content: '';
  width: 1px;
  height: 28px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: -1px;
}

.metabar--static.metabar--static--inversed .metabar-item--post-meta:before {
  background-color: rgba(255,255,255,.35);
}

@media (min-width:479px) {
  .metabar-item--post-meta {
    width: auto;
  }
}

.metabar-item--post-meta__author {
  position: relative;
  padding-left: 40px;
}

.metabar-item--post-meta__author img {
  display: inline;
  position: absolute;
  top: 50%;
  left: 0;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  border-radius: 16px;
}

.metabar-item--likes:after {
  background-color: rgba(0,0,0,.15);
  content: '';
  width: 1px;
  height: 28px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: -1px;
}

.metabar--static.metabar--static--inversed .metabar-item--likes:after {
  background-color: rgba(255,255,255,.35);
}

.drawer-button {
background: 0 0;
border: 0;
position: absolute;
top: 0;
left: 0;
width: 400px;
height: 44px;
font-size: 16px;
color: #333;
outline: 0;
text-align: left;
padding: 0 16px;
vertical-align: middle;
-webkit-transition: opacity .3s linear;
transition: opacity .3s linear;
}

.drawer-button:hover,.drawer-button:focus {
  outline: 0;
}

.metabar--static.metabar--static--inversed .drawer-button {
  color: #fff;
}

@media only screen and (max-width:767px) {
  .drawer-button.drawer-button-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.metabar-btn {
  display: inline-block;
  background: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 18px;
  width: 36px;
  height: 36px;
  color: rgba(0,0,0,.44);
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition-duration: .1s,.1s,.1s;
  transition-duration: .1s,.1s,.1s;
  -webkit-transition-property: background-color,border-color,color;
  transition-property: background-color,border-color,color;
  -webkit-transition-timing-function: ease,ease,ease;
  transition-timing-function: ease,ease,ease;
}

.metabar-btn:hover,.metabar-btn:focus {
  color: rgba(0,0,0,.6);
  border-color: rgba(0,0,0,.3);
}

.metabar--static.metabar--static--inversed .metabar-btn {
  color: rgba(255,255,255,.97);
  border-color: rgba(255,255,255,.97);
}

.metabar--static.metabar--static--inversed .metabar-btn:hover,.metabar--static.metabar--static--inversed .metabar-btn:focus {
  background: rgba(255,255,255,.97);
  border-color: rgba(255,255,255,.97);
  color: rgba(18,19,20,1);
}

.footer__container {
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	background: transparent;
	border-top: 0px solid rgba(0,0,0,0.1) ;
}

.footer__container-left {
	height: 100%;
	margin: 0 auto;
	padding-left: 10px;
	float: left;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer__verified {
	padding-right: 20px;
	color:#fff;
}

.footer__ratings {
	padding-right: 20px;
	color:#fff;
}

.footer__avatar-img {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	margin-left: 10px;
	background: url(https://d262ilb51hltx0.cloudfront.net/fit/c/32/32/1*oZu4yGg3LiS4YBe_HnOKew.jpeg);
}


.author__name a {
	color: #fff;
	margin-left: 10px;
	text-decoration: none;
}

.author__name a:hover {
	text-decoration: underline;
}



.footer__container-right {
	height: 100%;
	margin: 0 auto;
	padding-left: 10px;
	float: right;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.commentor a {
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

@media screen and (max-width: 890px) {
	.commentor {
		display: none;
	}
}
.commentor a:hover {
	text-decoration: underline;
	color: rgba(255,255,255,0.7);
}

.comment__widget-text {
	color: rgba(255,255,255,0.6);
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: 300;
}

@media screen and (max-width: 890px) {
	.comment__widget-text {
		display: none;
	}
}

.butterBar {
position: fixed;
pointer-events: none;
top: -100px;
width: 58%;
max-width: 640px;
margin-left: 36%;
z-index: 800;
text-align: center;
-webkit-transition: top 700ms, opacity 700ms;
transition: top 700ms, opacity 700ms;
opacity: 0;
}

.butterBar--center {
left: 50%;
margin-left: -320px;
}

.butterBar.is-active {
top: 0;
opacity: 1;
}

.butterBar-message {
display: inline-block;
pointer-events: auto;
background: rgba(255,255,255,0.97);
min-width: 290px;
max-height: 30px;
line-height: 30px;
padding: 10px 25px;
color: #333;
text-shadow: none;
margin-top: 0;
font-size: 14px;
box-shadow: 0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);
border-radius: 0 0 3px 3px;
}



.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}


.delay-1-5s {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}


.popover {
overflow: hidden;
position: absolute;
top: -89px;
right: 7px;
z-index: 900;
visibility: visible;
font-size: 12px;
text-align: center;
padding: 15px;
opacity: 0;
pointer-events: auto;
}

.footer__container .popover {
color: rgba(0,0,0,0.8);
}

.popover.is-active {
opacity: 1;
-webkit-transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1);
-webkit-transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
-moz-transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
-ms-transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
-o-transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
}

.popover-inner {
position: relative;
max-width: 280px;
padding: 14px 14px 14px 45px;
/* padding: 14px; */
background: rgba(255,255,255,0.95);
background-image: url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/26/tattoo_machine.png');
background-repeat: no-repeat;
background-position: 15px center;
border-radius: 3px;
box-shadow: 0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);
}

.popover-arrow {
position: absolute;
}

.popover--top .popover-arrow, .popover--bottom .popover-arrow {
left: 50%;
margin-left: 27px;
}

.popover--top .popover-arrow {
bottom: 1px;
clip: rect(0 18px 18px -4px);
}

.popover--top .popover-arrow:after {
-webkit-transform: rotate(45deg) translate(-5px, -5px);
-ms-transform: rotate(45deg) translate(-5px, -5px);
transform: rotate(45deg) translate(-5px, -5px);
box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.8);
}
.popover-arrow:after {
content: '';
display: block;
width: 14px;
height: 14px;
background: rgba(255,255,255,0.95);
}

.button img {
	padding-top: 50%;
	max-height: 50%;
	max-width: 100%;
}
	
	
	
.bottom {
position: absolute;
bottom: 0;
width: 100%;
height: 260px;
}

.bottom .fade {
position: absolute;
bottom: 60px;
width: 100%;
height: 200px;
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
background: -linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}

.bottom .fill {
width: 100%;
height: 60px;
position: absolute;
bottom: 0;
}

.bottom .subnav {
background-color: rgba(0,0,0,0.7);
height: 60px;
width: 100%;
}

.nav-wrapper {
padding: 0 0px;
width: 100%;
}

.bottom .subnav .nav {
margin-left: 0px;
font-size: 0;
}

.bottom .subnav .fixed {
position: fixed;
top: 0;
z-index: 10;
border-bottom: 1px solid rgba(0,0,0,0.3);
-webkit-box-shadow: 1px 0px 4px rgba(0,0,0,0.5);
box-shadow: 1px 0px 4px rgba(0,0,0,0.5);
}

.post-social {
padding-left: 20px;
}

.right {
padding-right: 30px;
}

.left {
padding-left: 30px;
} 

a {
  color: #fff;
}

a:hover {
  color: #88898C;
}



/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -50px;
	padding: 7px;
	width: 140px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: rgba(255,255,255,0.95);
	color: #333;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 12px;
	line-height: 1.2;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #fff;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}