.simpleCart_items {
    background: none repeat scroll 0% 0% #1c1c1f;
    border-radius: 3px;
	-webkit-box-shadow: 0 8px 13px rgba(0,0,0,0.36),0 0 0 1px rgba(0,0,0,0.06);
	box-shadow: 0 8px 13px rgba(0,0,0,0.36),0 0 0 1px rgba(0,0,0,0.06);    color: #FFF;
    display: none;
    min-height: 24px;
    padding: 10px;
    position: absolute;
    right: 33px;
    top: 140px;
    width: 350px;
    z-index: 500;
}

.totalprice {
	float:right;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
}

.inkedby-carttable p {
	font-weight:bold;
	font-size:14px;
}

.inkedby-carttable input {
	width:30px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 3px;
	height: 20px;
	outline: none;
}

.simpleCart_items .cartheader {
	margin: 0px;
    padding: 0.5em;
    text-align: left;
    font-weight: 300;
    opacity: 1;
    background:#121314;
    border-radius: 3px 3px 0px 0px;
    text-rendering: geometricprecision;
    background-repeat: no-repeat;
    background-position: center center;
    color: #FFF;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
    background-size: cover;
    font-size: 1em;
}

.inkedby-carttable {
	margin: 0px;
    padding: 0.5em;
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-bottom: 0px;
	margin-top: 10px;
	border-bottom: 0px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: left;
	color: #88898C;
}

.inkedby-carttable th {
	padding: 10px 1px;
	min-width: 100px;
	font: 11px "ProximaNova-Bold","Lucida Sans Unicode","Lucida Grande",sans-serif;
	color: #88898C;
	text-transform: uppercase;
	white-space: nowrap;
	vertical-align: bottom;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: left;
}

.inkedby-carttable tr {
	border-bottom: 1px solid #121314;
	height:35px;
}

.inkedby-carttable small {
	font-size: 10px;
}

.inkedby-cart-btn {
	height: 30px;
	opacity: 1;
	width: auto;
	transition: opacity 0.2s ease-in-out 0s;
	float:right;
	text-decoration: none;
}

.simpleCart_quantity {
	display: none;
	position: absolute;
	right: 24px;
	top: 100px;
	background: none repeat scroll 0% 0% rgba(87, 173, 104, 1);
	border-radius: 15px;
	color: #FFF;
	font-size: 13px;
	padding: 2px 4px;
	text-shadow: none;
	text-align: center;
	opacity: 1;
	min-width: 8px;
}

.cart_arrow {
	border-color: transparent;
	border-bottom-color: #1c1c1f;
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	display: block;
	position: absolute;
	right: 6.5px;
	top: -8px;
	z-index: 1;
	height: 0;
	width: 0;
}
