body {
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato',Arial,sans-serif;
	background: #f1f1f1;
	box-sizing: border-box;
	color: rgba(0,0,0,0.45);
}

*, *:after, *:before {
	box-sizing: border-box;
}

.page-header {
	margin: 0 auto;
	padding: 3em 1em;
	text-align: center;
	color: rgba(0,0,0,0.35);
	display:block;
}
.page-header h1 {
	margin: 0;
	font-weight: 400;
	font-size: 2.5em;
}
.page-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 0.7;
}
.content {
	padding: 5em 2em 10em;
	background: #f4f4f4;
	text-align: center;
	display:block;
}
.first-form ol, .second-form ol {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	transition: height 0.4s;
}
.first-form ol:before, .second-form ol:before {
	content: '';
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.35em;
}
.questions li {
	visibility: visible;
	height: auto;
	transition: none;
	z-index: 100;
	position: relative;
	display: list-item;
	text-align: inherit;
}
.questions li>span {
	display: block;
	overflow: hidden;
}
.questions li>span label {
	display: block;
	transition: none;
}
.questions input {
	display: block;
	margin: 0.3em 0 0 0;
	padding: 0.5em 1em 0.5em 0.7em;
	width: calc(100% - 6em);
	border: none;
	background: transparent;
	color: rgba(0,0,0,0.8);
	font-size: 1em;
	line-height: 1;
	opacity: 1;
	transition: opacity 0.3s;
	font-family: inherit;
	text-transform:uppercase;
}
.questions input:focus {
	outline:none;
}
.master-form {
	position: relative;
	margin: 0 auto;
	padding: 2em 0;
	max-width: 860px;
	width: 100%;
	text-align: left;
	font-size: 2.5em;
	display: block;
}
.progress {
	width: 0%;
	height: 0.15em;
	background: rgba(0,0,0,0.3);
	transition: width 0.4s ease-in-out;
}
.progress::before {
	position: absolute;
	top: auto;
	width: 100%;
	height: inherit;
	background: rgba(0,0,0,0.05);
	content: '';
}
.message1, .message2 {
	padding: 10px 0 0 0;
	width: inherit;
	font-size: 0.5em;
}
.error1, .error2, .error3{
	color: red;
	font-style: italic;
}
button {
	padding: 1em 0.8em 0.5em 1em;
	color: #FFF;
	border: 1px solid rgba(87, 173, 104, 0.4);
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	background: none repeat scroll 0% 0% rgba(87, 173, 104, 0.8);
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	font-size: 0.9em;
	line-height: 1;
	position: absolute;
	right: 0px;
	bottom: 0px;
	opacity: 1;
	transition: opacity 0.3s;
	display: None;
}
button:hover {
	background: rgba(87,173,104,1);
}
.thanks {
	font-size:20px;
	font-weight: bold;
}
.details {
	width:inherit;
	height:auto;
	display: none;
}
.details .transaction {
	width: 50%;
	float:left;
}
.transaction h4, .purchaser h4 {
	margin:0;
	padding:0px 0px 10px 0px;
	font-size: 20px
}
.details .purchaser {
	width: 50%;
	float:right;
}
.transaction .title, .purchaser .title {
	margin:0;
	padding:5px;
	float:left;
	font-weight: bold;
	font-size: small;
}
.transaction .value, .purchaser .value {
	margin:0;
	padding:5px;
	font-size: small;
}