.inkedby-profile-widget {
	width:296px; 
	border:none repeat scroll 0% 0% #1C1C1F; 
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
	border-radius:3px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background:none repeat scroll 0% 0% #1C1C1F;
	overflow:hidden;
}

.inkedby-profile-images {
	position:relative;	
}

.inkedby-profile-images:before,
.inkedby-profile-images:after {
    content: " ";
    display: table;
}

.inkedby-profile-images:after {
    clear: both;
}

.inkedby-profile-images {
    *zoom: 1;
}

.inkedby-profile-table {
	display:table;
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
	margin-top:-1px;
	margin-left:-1px;
	height:100%;
}

.inkedby-profile-cell {
	display:table-cell;
	width:98px;
	height:75px;
	float:left;
	border:solid black 1px;
	border-left:0px;
	background-size: cover;
	background-position: center;
	background-color:#000000;	
	-webkit-filter: sepia(50%);	
	overflow:hidden;
	position:relative;
}

.inkedby-profile-cell.first {
	border-right:0px;	
}

.inkedby-profile-cell:after {
	content:"";
	width:98px;
	height:76px;
	display:block;
	border:1px solid rgba(255,255,255,0.2);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin-top:0px;	
	position:absolute;
	z-index:9;
	top:0px;
	left:0px;
}

.inkedby-profile-cell-image {
	width:98px;
	height:75px;
	background-size: cover;
	background-position: center;
	display:none;
	position:relative;
	z-index:1;
}

.inkedby-profile-cell-image.load {
	opacity:1;	
}

.inkedby-profile-details {
	position:relative;
	background: none repeat scroll 0% 0% #1C1C1F;
	height:48px;
	border-bottom:1px solid #121314;
}

.inkedby-profile-details h1 {
	text-align:center;
	font-size:17px;
	line-height:50px;
	font-weight:500;
	margin:0;
	letter-spacing: -0.04em;
	text-shadow: 1px 0px 0px #000;
	color: #88898C;
	text-transform: uppercase;
	font-family: Roboto,sans-serif;
}

.inkedby-profile-icon {
	width:24px;
	height:25px;
	background-image: url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/26/tattoo_machine.png');
	position:absolute;
	left:12px;
	top:50%;
	margin-top:-11px;
}

.inkedby-profile-avatar {
	padding:4px;
	background-color:#121314;
	border:0px solid rgba(0, 0, 0, 0.6);
	border-radius:100%;
	width:70px;
	height:70px;
	position:absolute;
	left:50%;
	top:-70px;
	margin-left:-39px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	z-index:99;
}

.inkedby-profile-avatar img {
	width:70px;
	height:70px;
	border-radius:100%;
}

.inkedby-profile-avatar a {
	display:block;	
	position:relative;
}

.inkedby-profile-avatar a:after {
	content: "";
	width:10px; 
	height:10px;
	background:none;
	z-index:99;
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	width:68px;
	height:68px;
	border:0px solid rgba(0,0,0,0.6);
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.inkedby-profile-stat {
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:7px 13px;	
	font-size:10px;
	color:#88898C;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;	
	font-weight:400;
	text-shadow: 1px 0px 0px #000;
}

.inkedby-profile-stat strong {
	display: block;
	font-family: Roboto,sans-serif;
	color: #88898C;
	font-size: 14px;
	font-weight: 500;
	text-shadow: 1px 0px 0px #000;
}

.inkedby-profile-divider {
	float:left;
	width:1px;
	height:45px;
	background:none repeat scroll 0% 0% #121314;	
}

.inkedby-profile-btn {
	display:block;
	float:right;
	margin:0px;
	padding:0px;
	line-height: 17px;
}

button {
	display: block;
	float: right;
	margin: 10px;
	padding: 6px 12px;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	border: 1px solid rgba(87, 173, 104, 0.4);
	border-radius: 100px;
	font-family: Roboto,sans-serif;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	background: none repeat scroll 0% 0% rgba(87, 173, 104, 0.8);
	line-height: 17px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

button:hover {
	background: rgba(87,173,104,1);
}

.btn-transparent {
	background: transparent;
	border: none;
	color: #88898C;
	font-size: 10px;
	float: left;
	margin-left: 0px;
}

.btn-transparent:hover {
	background: transparent;
	border: none;
	color: #f4f4f4;
}

a {
	color: #333;
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration:none;
}

a:focus, a:hover {
	color: #121314;
}