button {
	display: block;
	float: right;
	margin: 10px;
	padding: 6px 12px;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	border: 1px solid rgba(87, 173, 104, 0.4);
	border-radius: 100px;
	font-family: Roboto,sans-serif;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	background: none repeat scroll 0% 0% rgba(87, 173, 104, 0.8);
	line-height: 17px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

button:hover {
	background: rgba(87,173,104,1);
}

.btn-transparent {
	background: transparent;
	border: none;
	color: #88898C;
	font-size: 10px;
	float: left;
	margin-left: 0px;
}

.btn-transparent:hover {
	background: transparent;
	border: none;
	color: #f4f4f4;
}

.shop-container {
	background-color: #f4f4f4;
	padding: 0;
	margin: 0;
	width: 100%!important; 
	display: block;
}

.scrollable {
	max-height: 225px; 
	width: auto;
	overflow:auto;
}

.post-footer .post-author {
  padding-right: 20px;
}

.post-author-avatar {
  width: 70px;
  height: 70px;
  display: block;
  margin-bottom: 10px;
}

.post-author-avatar img {
  border-radius: 100%;
  width: 100%;
  padding: 4px;
  background-color: #121314;
  border: 0px solid rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

.post-side .post-author-avatar {
  float: right;
}

.post-footer .post-author-avatar {
  float: left;
  margin-bottom: 0;
  margin-right: 20px;
}

@media only screen and (max-width:479px) {
  .post-footer .post-author-avatar {
    display: none;
  }
}

.post-footer .post-author-info {
  overflow: hidden;
}

.post-author-info p {
  font-size: 12px;
  font-style: italic;
  color: #88898C;
  margin-bottom: 0;
}

.post-author-info p a {
  color: #88898C;
}

.post-author-name,.post-info-title {
  display: block;
  line-height: 1;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

.post-footer {
  overflow: hidden;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding: 40px 0;
}

.post-footer>.post-social,.post-footer>.post-author {
  width: 46%;
  float: left;
}

.footer>.checkout {
  width: 46%;
  padding-left: 20px;
  float: right;
  text-align: right;
  margin-top: -25px;
}

.post-footer-heading {
  display: block;
  margin-bottom: 10px;
  font-size: 10px;
  color: #88898C;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.post-social {
  text-align: right;
}

.post-footer .post-social {
  padding-left: 20px;
}

.footer {
  padding: 0px 0;
  border-top: 0px solid rgba(0, 0, 0, 0.1);
  color: #88898C;
}

.footer a {
  color: #88898C;
}

.footer a:hover,.footer a:focus {
  color: #121314;
}

.footer p {
  margin-bottom: 0;
  line-height: 1;
}

.footer small {
  font-size: 11px;
}

a {
	color: #333;
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration:none;
}

a:focus, a:hover {
	color: #121314;
}

.inkedby-ordertable {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-bottom: 0px;
	margin-top: 10px;
	width:100%;
	border-bottom: 0px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.inkedby-ordertable small {
 	font-size: 10px;
 	color: #88898C;
}

.inkedby-ordertable thead{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.inkedby-ordertable tr{
	border-bottom: medium none;
}

.inkedby-ordertable th {
	padding: 10px 1px;
	min-width: 100px;
	font: 11px "ProximaNova-Bold","Lucida Sans Unicode","Lucida Grande",sans-serif;
	color: #88898C;
	text-transform: uppercase;
	white-space: nowrap;
	vertical-align: bottom;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: left;
}

.inkedby-ordertable td {
	/*padding: 10px 5px;*/
	font-size: 14px;
	color: #333;
	line-height:1.4em;
	white-space: nowrap;
	vertical-align: middle;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: left;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 900px;
	min-width: 320px;
	height: auto;
	font-family: Roboto,sans-serif;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	text-rendering: geometricprecision;
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: one repeat scroll 0% 0% rgba(18, 19, 20, 0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #333;
	background: none repeat scroll 0% 0% #FFF;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
	box-shadow: 0 12px 30px rgba(0,0,0,0.6);
}

.md-content h3 {
	margin: 0;
	padding: 0.5em;
	text-align: left;
	font-size: 2.5em;
	font-weight: 300;
	opacity: 1;
	background-image: url(https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/43712434/9d17f65f76d2eaaaaab77a9267b05eb1443d4463/2048.jpg);
	border-radius: 3px 3px 0 0;
	text-rendering: geometricprecision;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	text-shadow: 0 0 1px rgba(0,0,0,0.6);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.md-content > div p {
	margin: 0px;
	padding: 0px;
}

.md-content > div {
	padding: 20px 30px 30px;
	margin: 0px;
	font-weight: 300;
	font-size: 1.15em;
}

.md-show.md-effect-16 ~ .md-overlay {
	background: none repeat scroll 0% 0% rgba(18, 19, 20, 0.8);
}

.md-show.md-effect-16 ~ .container {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
}

.md-effect-16 .md-content {
	-webkit-transform: translateY(-5%);
	-moz-transform: translateY(-5%);
	-ms-transform: translateY(-5%);
	transform: translateY(-5%);
	opacity: 0;
}

.md-show.md-effect-16 ~ .container,
.md-effect-16 .md-content {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-16 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}