<html>
	<head>
		<title>Get inked by {{ order.studio.instagram }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body style="background-color: #cccccc; padding: 0; margin: 0; font-family: Roboto,sans-serif; width: 100%!important; display: block;">
		<div style="background-color: #ececec; padding: 0; margin: 0; font-family: Roboto,sans-serif; width: 100%!important; display: block;">
			<div style="text-align: center;vertical-align: bottom;width: 640px;	margin:auto;">
				<div style="width: inherit;padding: 20px 0 50px 0;">
					<div style="background-color: #fff; color: #000;height: 100px; background-image: url(https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/43712434/9d17f65f76d2eaaaaab77a9267b05eb1443d4463/2048.jpg); text-rendering: geometricprecision; background-repeat: no-repeat; background-position: center center;background-size: cover;">
						<p style="color: #fff; text-shadow: 0 0 1px rgba(0,0,0,0.6); margin: 0; padding: 0.5em; text-align: left;	font-size: 2.5em; font-weight: 300;	text-rendering: geometricprecision; line-height: 50px;">Order Confirmation</p>
					</div>
					<div style="font-size: 14px; background-color: #fff; line-height: 1.4em;	color: #333; padding: 15px 20px; text-align: left;">
						<h3>Hi {{ order.buyer }}</h3>
						<p style="font-size: 14px; margin: 10px 5px;">Thank you for placing an order in {{ order.studio.name }}.</p>
						<p style="font-size: 14px; margin: 10px 5px;">This is a confirmation that your order has been successfully placed. Below you will see the copy of voucher and its details.</p>
						<div style="border: 1px solid; border-color:#88898C; padding:10px 0;">
							<div style="width: 50%; float:left; color: #88898C;">
								<div>
									<div style='margin:0; padding:5px; float:left; font-weight: bold; font-size: small;'><span>Transaction ID:</span></div>
									<div style='margin:0; padding:5px; font-size: small; font-style: italic;'><span>{{ order.txn_id }}</span></div>
								</div>
								<div>
									<div style='margin:0; padding:5px; float:left; font-weight: bold; font-size: small;'><span>Price:</span></div>
									<div style='margin:0; padding:5px; font-size: small; font-style: italic;'><span>{{ order.price }}</span></div>
								</div>
								<div>
									<div style='margin:0; padding:5px; float:left; font-weight: bold; font-size: small;'><span>Payment on:</span></div>
									<div style='margin:0; padding:5px; font-size: small; font-style: italic;'><span>{{ order.created }}</span></div>
								</div>
							</div>
							<div style="width: 50%; float:right; color: #88898C;">
								<div>
									<div style='margin:0; padding:5px; float:left; font-weight: bold; font-size: small;'><span>Redemption Code:</span></div>
									<div style='margin:0; padding:5px; font-size: small; font-style: italic;'><span>{{ order.code }}</span></div>
								</div>
								<div>
									<div style='margin:0; padding:5px; float:left; font-weight: bold; font-size: small;'><span>Expiry Date:</span></div>
									<div style='margin:0; padding:5px; font-size: small; font-style: italic;'><span>{{ order.expiry }}</span></div>
								</div>
							</div>
							<div style="clear:both"></div>
						</div>
						<p style="font-size: 14px; margin: 10px 5px;">Please save or print your voucher and bring it to us at our studio.</p>
						<p style="font-size: 14px; margin: 10px 5px;">If this is a gift for someone else, just print and give them the voucher and they can bring it us.</p>
						<p style="font-size: 14px; margin: 10px 5px;">Thank you again!</p>
						<p style="font-size: 14px; margin: 10px 5px;">{{ order.studio.name }}</p>
						<p style="font-size: 14px; margin: 10px 5px;">&nbsp;</p>
						<p style="font-size: 12px!important; line-height: 15px; color: #88898C; margin-top: 0px; margin-bottom: 15px;" align="center">
						&copy; 2014. All Rights Reserved. Proudly published with <a href="http://inked.by/" target="_blank" style="text-decoration: none;">Inked.by</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>