<html>
	<head>
		<title>Get inked by {{ studio.instagram }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body style="background-color: #cccccc; padding: 0; margin: 0; font-family: Roboto,sans-serif; width: 100%!important; display: block;">
		<div style="background-color: #ececec; padding: 0; margin: 0; font-family: Roboto,sans-serif; width: 100%!important; display: block;">
			<div style="text-align: center;vertical-align: bottom;width: 640px;	margin:auto;">
				<div style="width: inherit;padding: 20px 0 50px 0;">
					<div style="background-color: #fff; color: #000;height: 100px; background-image: url(https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/43712434/9d17f65f76d2eaaaaab77a9267b05eb1443d4463/2048.jpg); text-rendering: geometricprecision; background-repeat: no-repeat; background-position: center center;background-size: cover;">
						<p style="color: #fff; text-shadow: 0 0 1px rgba(0,0,0,0.6); margin: 0; padding: 0.5em; text-align: left;	font-size: 2.5em; font-weight: 300;	text-rendering: geometricprecision; line-height: 50px;">Order Claimed</p>
					</div>
					<div style="font-size: 14px; background-color: #fff; line-height: 1.4em;	color: #333; padding: 15px 20px; text-align: left;">
						<p style="font-size: 14px; margin: 10px 5px;"><strong>{{ order.code }}</strong> is claimed by <em>{{ order.studio.name }}</em> on {{ order.claimedon }}.</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>