<!DOCTYPE html>
<html>
{% load staticfiles %}
	<head>
<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
		
		<title>Get inked by {{ studio.name }} - Quality tattoos in {% if studio.branch_set.count %}{% for branch in studio.branch_set.all %}{{ branch.city }} ({{branch.country}}) {% endfor %}{% endif %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<meta name="description" content="Buy tattoo gift cards from {{ studio.name }}" />
		<meta name="keywords" content="{{ studio.name }}, Tattoo, Tattoos, Gift card, Gift cards, Tattoo gift cards, Voucher, Inked" />
		
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Get inked by {{ studio.name }} - Quality tattoos in {% if studio.branch_set.count %}{% for branch in studio.branch_set.all %}{{ branch.city }} ({{branch.country}}) {% endfor %}{% endif %}" />
		<meta name="twitter:description" content="Buy tattoo gift cards from {{ studio.name }}" />
		<meta name="twitter:image:src" content="https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/43712434/9d17f65f76d2eaaaaab77a9267b05eb1443d4463/2048.jpg" />
		<meta name="twitter:url" content="http://get.inked.by/{{ studio.instagram }}/" />
		<meta name="twitter:site" content="@inked.by" />
		<meta name="twitter:creator" content="@inked.by" />

		<meta property="og:site_name" content="GET.INKED.BY" />		
		<meta property="og:type" content="article" />
		<meta property="og:url" content="http://get.inked.by/{{ studio.instagram }}/" />
		<meta property="og:title" content="Get inked by {{ studio.name }} - Quality tattoos in {% if studio.branch_set.count %}{% for branch in studio.branch_set.all %}{{ branch.city }} ({{branch.country}}) {% endfor %}{% endif %}" />
		<meta property="og:description" content="Buy tattoo gift cards from {{ studio.name }}" />
		<meta property="og:image" content="https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/43712434/9d17f65f76d2eaaaaab77a9267b05eb1443d4463/2048.jpg" />
		<meta property="article:author" content="https://www.facebook.com/InkedBy" />
		<meta property="article:publisher" content="https://www.facebook.com/InkedBy" />
		<meta property="article:section" content="Buy tattoo gift cards from {{ studio.name }}" />
		<meta property="article:tag" content="{{ studio.name }}, Tattoo, Tattoos, Gift card, Gift cards, Tattoo gift cards, Voucher, Inked" />
		
		<link rel="canonical" href="http://get.inked.by/{{ studio.instagram }}/" />
		<link rel="stylesheet" type="text/css" href="/static/registration/css/inkedby-coverpage.css">
		<link rel="stylesheet" type="text/css" href="/static/registration/css/inkedby-model.css">
		<link rel="stylesheet" type="text/css" href="/static/registration/css/inkedby-cart.css">
		<link rel="stylesheet" type="text/css" href="/static/registration/css/inkedby-icon.css">
		<link rel="stylesheet" type="text/css" href="/static/registration/css/pace.css">
		<style type="text/css">
			.cover {
				height: 100%;
				width: 100%;
				background: url({{ studio.cover.url }});
				background-size: cover;
				background-position: 50% 50%;
			}
		</style>
		<script type="text/javascript" src="/static/registration/js/jquery-1.7.1.min.js"></script>
		<script src='/static/registration/js/pace.js'></script>
		<script type="text/javascript" src="/static/registration/js/jquery.inkedby.coverpage.js"></script>
		
				<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-58022676-1', 'auto');
  		ga('send', 'pageview');

		</script>
		<script>
		$(document).ready(function() {
			$("#inkedby-container").GetInkedby({
				username: "{{ studio.instagram }}",
			});
		});
		</script>
	</head>
	<body>
		<div class="metabar metabar--static metabar--static--inversed">
            <div class="metabar__side metabar__side--left">
                <div class="metabar-item metabar-item--post-meta">
					<a href="/{{ studio.instagram }}/" class="metabar-item--post-meta__author">
                        <img src="" alt="{{ studio.name }}" id="profile-img">
            		</a>
                    <a href="/{{ studio.instagram }}/">{{ studio.name }}</a>       
                </div>
                <div class="metabar-item metabar-item--drawer-button">
					<div id="drawer-button" class="drawer-button">
						<i class="fa fa-fw fa-map-marker"></i>{% if studio.branch_set.count %}{% for branch in studio.branch_set.all %}{{ branch.city }} ({{branch.country}}) {% endfor %}{% endif %}
					</div>
                </div>
             </div>
            <div class="butterBar is-active butterBar--center animated fadeInDown delay-1-5s" style="display:none;" data-action-scope="_actionscope_1">
				<p class="butterBar-message">NEWS! Buy gift card or pay deposit online to get priority access. <i class="fa fa-fw fa-arrow-circle-right"></i></p>
            </div>
            <div class="metabar__side metabar__side--right">
				<div class="metabar-item metabar-item--social">
					<button class="md-trigger animated fadeIn delay-1-5s" data-modal="modal-16">Book an appointment</button>
                 </div>
            </div>
        </div>
		<div id="inkedby-container"></div>
		<div class="cover">
		<div class="bottom">
		<div class="fade">      	
		</div>
		<div class="fill">
			<div class="subnav">
            	<div class="nav-wrapper">
            	<footer class="footer__container">
			<div class="footer__container-left">
				<div class="footer__verified left" data-tooltip="Verified Cover Page">
					<i class="fa fa-fw fa-check-circle" style="color: rgba(87, 173, 104, 1)"></i>
					Verified
				</div>
				<div class="footer__ratings" data-tooltip="{{ studio.reviews }} of 5 stars">
					<i class="fa fa-fw fa-star" style="color: rgba(87, 173, 104, 1)"></i>
					{{ studio.reviews }}
				</div>

			</div>
			<div class="footer__container-right">
			<div class="popover popover--top is-active animated fadeInDown delay-1-5s" style="display:none">
				<div class="popover-inner">Recommending shares the cover page with your friends and lets the artist know you liked it.
				</div>
				<div class="popover-arrow" style="left: 155px;">
				</div>
			</div>
				<div class="commentor">
					<a href="http://www.facebook.com/InkedBy">Inked.by</a>
				</div>
				<div class="comment__widget-text">and</div>
				<div class="commentor">
					<a href="http://www.instagram.com/{{ studio.instagram }}" id="followers"></a>
				</div>
				<div class="comment__widget-text">recommended</div>
				<div class="commentor">
					<a href="/{{ studio.instagram }}">{{ studio.name }}</a>
				</div>
				<div class="post-social">
					<a href="#" data-action="like">
					<i class="fa fa-fw fa-lg fa-heart-o"></i>
					</a>				
				</div>
				<div class="post-social">
					<a href="#" data-action="share-twitter">
					<i class="fa fa-fw fa-lg fa-twitter"></i>
					</a>				
				</div>
				<div class="post-social">
					<a href="#" data-action="share-facebook">
					<i class="fa fa-fw fa-lg fa-facebook"></i>
					</a>				
				</div>
				<div class="post-social right">
					<a href="#" data-action="share-gplus">
					<i class="fa fa-fw fa-lg fa-google-plus"></i>
					</a>				
				</div>
			</div>
			
		</footer>
            	</div>
            </div>
      </div>
      </div>
		</div>
		
		
	</body>
</html>
