<html>
	<head>
		<title>Get inked by {{ studio.instagram }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style type="text/css">
			body {
				background-color: #cccccc;
				padding: 0;
				margin: 0;
				font-family: Roboto,sans-serif;
				width: 100%!important;
				display: block;
			}
			.container {
				background-color: #ececec;
				padding: 0;
				margin: 0;
				font-family: Roboto,sans-serif;
				width: 100%!important;
				display: block;
			}
			.main {
				text-align: center;
				vertical-align: bottom;
				width: 640px;
				margin:auto;
			}
			.content {
				width: inherit;
				padding: 20px 0 50px 0;
			}
			.header {
				background-color: #fff;
				color: #000;
				height: 100px;
				background-image: url(https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/43712434/9d17f65f76d2eaaaaab77a9267b05eb1443d4463/2048.jpg);
				text-rendering: geometricprecision;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
			.header p {
				color: #fff;
				text-shadow: 0 0 1px rgba(0,0,0,0.6);
				margin: 0;
				padding: 0.5em;
				text-align: left;
				font-size: 2.5em;
				font-weight: 300;
				text-rendering: geometricprecision;
				line-height: 50px;
			}
			.article-content {
				font-size: 14px;
				background-color: #fff;
				line-height: 1.4em;
				color: #333;
				padding: 15px 20px;
				text-align: left;
			}
			.article-content p {
				font-size: 14px;
				margin: 10px 5px;
			}
			.footer-content-left {
				font-size: 12px!important;
				line-height: 15px;
				color: #88898C;
				margin-top: 0px;
				margin-bottom: 15px;
				text-align: left;
			}
			a {
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="main">
				<div class="content">
					<div class="header">
						<p>Order Confirmation</p>
					</div>
					<div class="article-content">
						{% if studio and status == "SUCCESS"%}
						<h3>Hi {{ buyer }}</h3>
						<p>Thank you for placing an order from {{ studio.name }}.</p>
						{% endif %}
						{% if status == "FAIL" %}
						<p>Unfortunately your transaction is not completed successfully.</p>
						{% endif %}
						{% if status == "SUCCESS" %}
						<p>This is a confirmation that your order has been successfully placed and it's currently under process.</p>
						{% endif %}
						<p>Your transaction ID for this payment with us is: {{ txn_id }}</p>
						{% if studio and status == "SUCCESS" %}
						<p>We will send you the voucher to your e-mail that you can print or show to us at our studio.</p>
						<p>Thank you again!</p>
						<p>{{ studio.name }}</p>
						{% endif %}
						<p>&nbsp;</p>
						<p class="footer-content-left" align="center">
						&copy; 2014. All Rights Reserved. Proudly published with <a href="http://inked.by/" target="_blank">Inked.by</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>