<html>
	{% load staticfiles %}
	<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
		
		<title>Get inked by {{ studio.name }} - Quality tattoos in {% if studio.branch_set.count %}{% for branch in studio.branch_set.all %}{{ branch.city }} ({{branch.country}}) {% endfor %}{% endif %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<meta name="description" content="Buy tattoo gift cards from {{ studio.name }}" />
		<meta name="keywords" content="{{ studio.name }}, Tattoo, Tattoos, Gift card, Gift cards, Tattoo gift cards, Voucher, Inked" />
		
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Get inked by {{ studio.name }} - Quality tattoos in {% if studio.branch_set.count %}{% for branch in studio.branch_set.all %}{{ branch.city }} ({{branch.country}}) {% endfor %}{% endif %}" />
		<meta name="twitter:description" content="Buy tattoo gift cards from {{ studio.name }}" />
		<meta name="twitter:image:src" content="https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/43712434/9d17f65f76d2eaaaaab77a9267b05eb1443d4463/2048.jpg" />
		<meta name="twitter:url" content="http://get.inked.by/{{ studio.instagram }}/shop/" />
		<meta name="twitter:site" content="@inked.by" />
		<meta name="twitter:creator" content="@inked.by" />

		<meta property="og:site_name" content="GET.INKED.BY" />		
		<meta property="og:type" content="article" />
		<meta property="og:url" content="http://get.inked.by/{{ studio.instagram }}/shop/" />
		<meta property="og:title" content="Get inked by {{ studio.name }} - Quality tattoos in {% if studio.branch_set.count %}{% for branch in studio.branch_set.all %}{{ branch.city }} ({{branch.country}}) {% endfor %}{% endif %}" />
		<meta property="og:description" content="Buy tattoo gift cards from {{ studio.name }}" />
		<meta property="og:image" content="https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/43712434/9d17f65f76d2eaaaaab77a9267b05eb1443d4463/2048.jpg" />
		<meta property="article:author" content="https://www.facebook.com/InkedBy" />
		<meta property="article:publisher" content="https://www.facebook.com/InkedBy" />
		<meta property="article:section" content="Buy tattoo gift cards from {{ studio.name }}" />
		<meta property="article:tag" content="{{ studio.name }}, Tattoo, Tattoos, Gift card, Gift cards, Tattoo gift cards, Voucher, Inked" />
		
		<link rel="canonical" href="http://get.inked.by/{{ studio.instagram }}/shop/" />
		<link rel="stylesheet" href="{% static 'registration/css/inkedby-shop.css' %}" />
		<script type="text/javascript" src="/static/registration/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/registration/js/jquery.inkedby.shop.js"></script>
		
		<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-58022676-1', 'auto');
  		ga('send', 'pageview');

		</script>
		
		<script>
		$(document).ready(function() {
			$("#inkedby-container").GetInkedby({
				username: "{{ studio.instagram }}",
			});
		});
		</script>
	</head>
	<body>
		<div id="inkedby-container"/>
	</body>
</html>
