<html>
	<head>
		{% load staticfiles %}
		<title>Get inked by validation</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
		<link rel="stylesheet" href="{% static 'registration/css/inkedby-validation.css' %}" />
		<script type="text/javascript" src="/static/registration/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/registration/js/validation.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="page-header">
				<h1>Get.inked.by<span>Redemption code validator</span></h1>
			</header>
			<div class="content">
				<div class="master-form">
					{% csrf_token %}
					<div class="first-form">
						<ol class="questions">
							<li>
								<span><label for="redemption_code">Enter redemption code</label></span>
								<input id="redemption_code" name="redemption_code" type="text" placeholder="VJWEO33940AE">
								<button class="form1-button">Next</button>
							</li>
						</ol>
						<div class="controls">
							<div class="progress"></div>
							<div class="message1">
								<span class="annotation1"></span>
								<span class="error1"></span>
							</div>
						</div>
					</div>
					<div class="third-from">
						<h4 class="thanks"></h4>
						<span class='error'></span>
					</div>
					<div class="second-form">
						<ol class="questions">
							<li>
								<span><label for="studio_code">Enter studio code</label></span>
								<input id="studio_code" name="studio_code" type="text" placeholder="Example: XONBN">
								<button class="form2-button">Claim!</button>
							</li>
						</ol>
						<div class="controls">
							<div class="progress"></div>
							<div class="message2">
								<span class="annotation2"></span>
								<span class="error2"></span>
								<div class="details">
									<div class="transaction">
										<h4>Transaction</h4>
										<div>
											<div class='title'><span>Transaction ID:</span></div>
											<div class='value'><span id="txn_id"></span></div>
										</div>
										<div>
											<div class='title'><span>Transaction Status:</span></div>
											<div class='value'><span id="txn_status"></span></div>
										</div>
										<div>
											<div class='title'><span>Price:</span></div>
											<div class='value'><span id="price"></span></div>
										</div>
										<div>
											<div class='title'><span>Payment on:</span></div>
											<div class='value'><span id="payment"></span></div>
										</div>
									</div>
									<div class="purchaser">
										<h4>Purchaser</h4>
										<div>
											<div class='title'><span>Purchased by:</span></div>
											<div class='value'><span id='buyer'></span></div>
										</div>
										<div>
											<div class='title'><span>Email:</span></div>
											<div class='value'><span id='email'></span></div>
										</div>
										<div>
											<div class='title'><span>Redemption code:</span></div>
											<div class='value'><span id='code'></span></div>
										</div>
										<div>
											<div class='title'><span>Validity:</span></div>
											<div class='value'><span id='expiry'></span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>