<html>
	{% load staticfiles %}
	<head>
		<title>Get inked by {{ studio.name }}</title>
		<meta property="og:title" content="Get inked by {{ studio.name }}">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="{% static 'registration/css/inkedby.css' %}" />
		<link rel="stylesheet" href="{% static 'registration/css/inkedby-model.css' %}" />
		<link rel="stylesheet" href="{% static 'registration/css/inkedby-cart.css' %}" />
		<link rel="stylesheet" href="{% static 'registration/css/inkedby-icon.css' %}" />
		<script type="text/javascript" src="/static/registration/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/registration/js/jquery.inkedby.js"></script>
		<script>
		$(document).ready(function() {
			$("#inkedby-container").GetInkedby({
				username: "{{ studio.instagram }}",
			});
		});
		</script>
	</head>
	<div id="inkedby-container"/>
</html>
